button {
    background-color: none;
    background: none;
}

.slick-dots .slick-dots-bottom {
    bottom: -6px !important;
}

::-webkit-scrollbar {
    width: 10px;
    display: none;
}


/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    display: none;
}