input[type="file" i] {
    background-color: red !important;
}

.uploadcare--widget__button.uploadcare--widget__button_type_open {
    background-color: #232323;
    color: #A7A7A7;
    border:'1px solid red'
}

.uploadInput {

    height: 45px;
    width: 100%;

    border: 1px solid #363534;
    border-radius: 12px;

    background: none;
    color: #FFE7D9;

    font-family: 'Hanken Grotesk';
    font-weight: 500;
    font-size: 16px;

}

select {
    background: lightseagreen;

    border: 1px solid black;

    width: 300px;

    height: 30px;
}