.popUp-heading {
    font-size: 24px;
    font-family: 'Hanken Grotesk';
    font-weight: 600;

    color: #FFE7D9;
}

html {
    resize: none;
}

.header-wrap {
    /* height: 100px; */
    width: 100%;
    max-width: 470px;
    background: #1f1e1d;
    padding: 20px 20px
}

.header-textIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Hanken Grotesk';

    color: #FFE7D9;
}

.header-icon {
    font-size: 24px;
    font-weight: 500;

    color: #FFE7D9;
}

.submit-btnWrap {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 470px;
    height: 90px;

    background: #1F1E1D;

    border-top: 0.75px solid #333333;
}

button {
    user-select: none;
}

.submit-btn {
    height: 45px;
    width: 345px;

    border: none;
    border-radius: 12px;

    background: #F3761C;
    color: #FFE7D9;

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;

}

#noiseOverlay {
    mix-blend-mode: overlay;
    position: fixed;
    z-index: -1;
    height: 100%;
    top: 0;
}